<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Zmiana hasła</title>
<style>
	*{ FONT-SIZE: 8pt; FONT-FAMILY: verdana; }
	b { FONT-WEIGHT: bold; }
	.listtitle { BACKGROUND: #425984; COLOR: #EEEEEE; white-space: nowrap; }
	td.list { BACKGROUND: #EEEEEE; white-space: nowrap; }
	input {border:1px solid #555}
</style>
</head>
<body>
<center>
<br><br><br>
	<b>Zmiań hasło E-Mail</b>
	<br><br>
	<table cellpadding=5 cellspacing=1>
		<form action="/CMD_CHANGE_EMAIL_PASSWORD" method="POST">
		<tr><td class=listtitle colspan=2>Wypełnij poniżej wymagane informacje</td></tr>
		<tr><td class=list align=right>Adres e-mail:</td><td class=list><input type=text name=email size=32></td></tr>
		<tr><td class=list align=right>Aktualne hało:</td><td class=list><input type=password name=oldpassword size=32></td></tr>
		<tr><td class=list align=right>Nowe hasło:</td><td class=list><input type=password name=password1 size=32></td></tr>
		<tr><td class=list align=right>Powtórz nowe hasło:</td><td class=list><input type=password name=password2 size=32></td></tr>
		<tr><td class=listtitle colspan=2 align=right><input type=submit value="Zmień hasło"></td></tr>
		</form>
	</table>
<br><br>

</center>
</body>

</html>
