|?FAILEDLOGIN=<div class="login_error">Niepoprawna nazwa użytkownika lub hasło!</div>|
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Logowanie do panelu DirectAdmin</title>

<style>
    *{ FONT-SIZE: 8pt; FONT-FAMILY: verdana; } 
    b { FONT-WEIGHT: bold; } 
    .listtitle { BACKGROUND: #425984; COLOR: #EEEEEE; white-space: nowrap; } 
    td.list { BACKGROUND: #EEEEEE; white-space: nowrap; }
    .login_error {margin:10px 0; color:#990000; font-weight:bold; font-size:10pt}
</style>

</head>
<body onload="document.form.username.focus();if(document.form.referer.value.indexOf('#')==-1)document.form.referer.value+=location.hash;">
<center><br><br><br><br>
<h1>Logowanie do panelu DirectAdmin</h1>
|FAILEDLOGIN|
<table cellspacing=1 cellpadding=5>
<tr>
<td class=listtitle colspan=2>Proszę podać nazwę użytkownika oraz hasło:</td></tr>
<form action="/CMD_LOGIN" method="POST" name="form">
<input type=hidden name=referer value="|REFERER|">
<tr><td class=list align=right>Nazwa użytkownika:</td><td class=list><input type=text name=username></td></tr>
<tr><td class=list align=right>Hasło:</td><td class=list><input type=password name=password></td></tr>
<tr><td class=listtitle align=right colspan=2><input type=submit value='Zaloguj'></td></tr>
</form>
</table>
|*if LOST_PASSWORD="yes"|
<a href="/CMD_LOST_PASSWORD">Zapomniane hasło?</a>
|*endif|
</center></body></html>