|*if code!=""|
|?TITLE=DirectAdmin - zagubione hasło - potwierdzenie zmiany|
|?DESC=Zagubione hasło - kod potwierdzający|
|?INSTR=Podaj nazwę użytkownika i kod potweirdzający.<br>Nowe hasło zostanie przesłane na adres e-mail przypisany do tego konta.|

|*else|
|?TITLE=DirectAdmin - zagubione hasło|
|?DESC=Zagubione hasło|
|?INSTR=Podaj nazwę użytkownika<br>a na przypisany do tego konta adres e-mail<br>zostanie wysłany link potwierdzający zmianę hasła.|
|*endif|

<html>
<head>
<title>|TITLE|</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
*{ FONT-SIZE: 8pt; FONT-FAMILY: verdana; } b { FONT-WEIGHT: bold; } .listtitle { BACKGROUND: #425984; COLOR: #EEEEEE; white-space: nowrap; } td.list { BACKGROUND: #EEEEEE; white-space: nowrap; } </style>
</head>
<body onLoad="document.form.username.focus();">
<center><br><br><br><br>
<h1>|DESC|</h1>
<table cellspacing=1 cellpadding=5>
<tr>
<td class=listtitle colspan=2>Proszę podać swoją nazwę użytkownika</td></tr>
<form action="/CMD_LOST_PASSWORD" method="POST" name="form">
<tr><td class=list colspan=2>|INSTR|</td></tr>
<tr><td class=list align=right>Nazwa użytkownika:</td><td class=list><input type=text name=username value="|username|"></td></tr>
|*if code!=""|
<tr><td class=list align=right>Kod potwierdzający:</td><td class=list><input type=text name=code value="|code|"></td></tr>

<input type=hidden name=action value="code">
|*else|
<input type=hidden name=action value="request">
|*endif|

<tr><td class=listtitle align=right colspan=2><input type=submit value='Wyślij'></td></tr>
</form>
</table>
</center></body></html>

