Konto pocztowe <b>|USER|@|DOMAIN|</b> zostało utworzone.<br>Użyj poniższych danych do konfiguracji programu pocztowego:<br><br>

<table class="list" cellpadding="3" cellspacing="1">
    <tr>
        <td class="list2" align="right" width="50%"><b>Nazwa użytkownika:</b></td>
        <td class="list2" width="50%">|USER|@|DOMAIN|</td>
    </tr>
    <tr>
        <td class="list" align="right"><b>Hasło:</b></td>
        <td class="list">|EMAIL_PASS|</td>
    </tr>
    <tr>
        <td class="list2" align="right"><b>Serwer poczty przychodzącej (POP3):</b></td>
        <td class="list2">mail.|DOMAIN|</td>
    </tr>
    <tr>
        <td class="list" align="right"><b>Serwer poczty wychodzącej (SMTP):</b></td>
        <td class="list">mail.|DOMAIN|</td>
    </tr>
</table>
